<div
    class="card"
    [@cardAnim]
    [class.dead]="!combatant.alive"
    [class.player]="combatant.type === 'PLAYER'"
    [class.npc]="combatant.type === 'NPC'"
>

    <button class="delete-btn" (click)="remove.emit()">✕</button>

    <h3>{{ combatant.name }}</h3>

    <div class="row">
        <span>CA: {{ combatant.armorClass }}</span>

        <label class="initiative">
            Ini:
            <input
                type="number"
                [value]="combatant.initiative"
                #initiativeInput
                (keyup.enter)="updateInitiative(initiativeInput.value)"
            />
        </label>
    </div>

    <div class="hp-bar">
        <div
            class="hp-fill"
            [style.width.%]="(combatant.currentHp / combatant.maxHp) * 100"
        ></div>
    </div>

    <div class="hp-text">
        HP {{ combatant.currentHp }} / {{ combatant.maxHp }}
    </div>

    <input
        type="number"
        placeholder="Dano"
        (keyup.enter)="applyDamage(damageInput.value); damageInput.value=''"
        #damageInput
        [disabled]="!combatant.alive"
    />
</div>
