<div class="card" [@cardAnim] [class.dead]="!enemy.alive">
    <button class="delete-btn" (click)="remove.emit()">✕</button>

    <h3>{{ enemy.name }}</h3>

    <div class="row">
        <span>CA: {{ enemy.armorClass }}</span>

        <label class="initiative">
            Ini:
            <input
                type="number"
                [value]="enemy.initiative"
                #initiativeInput
                (keyup.enter)="updateInitiative(initiativeInput.value)"
            />
        </label>
    </div>

    <div class="hp-bar">
        <div
            class="hp-fill"
            [style.width.%]="(enemy.currentHp / enemy.maxHp) * 100"
        ></div>
    </div>

    <div class="hp-text">
        HP {{ enemy.currentHp }} / {{ enemy.maxHp }}
    </div>

    <input
        type="number"
        placeholder="Dano"
        (keyup.enter)="applyDamage(damageInput.value); damageInput.value=''"
        #damageInput
        [disabled]="!enemy.alive"
    />
</div>
