@use 'mixins' as *;

@include alert-modal;

.modal .actions button:nth-child(3) {
    background: var(--color-bg-muted);
    color: #fff;
}

.modal .actions button:nth-child(4) {
    background: transparent;
    color: var(--color-text-muted);
}

.modal .actions button:nth-child(4):hover {
    color: #fff;
    text-decoration: underline;
}
