<div class="overlay">
    <div class="modal">
        <h2>Novo Inimigo</h2>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="form-field">
                <label for="name">Nome / Descrição</label>
                <input
                    #nameInput
                    id="name"
                    type="text"
                    formControlName="name"
                    (keyup.enter)="hpInput.focus()" />
            </div>

            <div class="form-field">
                <label for="hp">HP Máximo</label>
                <input
                    #hpInput
                    id="hp"
                    type="number"
                    formControlName="hp"
                    (keyup.enter)="acInput.focus()" />
            </div>

            <div class="form-field">
                <label for="ac">Classe de Armadura (CA)</label>
                <input
                    #acInput
                    id="ac"
                    type="number"
                    formControlName="ac"
                    (keyup.enter)="initInput.focus()"/>
            </div>

            <div class="form-field">
                <label for="initiative">Iniciativa</label>
                <input
                    #initInput
                    id="initiative"
                    type="number"
                    formControlName="initiative" />
            </div>

            <div class="actions">
                <button type="button" (click)="close.emit()">Cancelar</button>
                <button type="submit" [disabled]="form.invalid">
                    Adicionar
                </button>
            </div>

        </form>
    </div>
</div>
